@page "{handler?}"
@model MedidoresModel
@{
    ViewData["Title"] = "Gerenciar Medidores";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4" style="font-weight:bold">Medidores</h1>
        <h2>Visualize, Edite e Adicione Medidores</h2>
        <table class="table table-responsive" style="width:auto" >
            <tr>  
                <th>  
                    Medidor
                </th>  
                <th>  
                    IP
                </th>  
                <th>  
                    Tipo
                </th>  
                <th>  
                    Estado
                </th>  
                <th >  
                    <div >Op&ccedil;&otilde;es</div>
                </th>  
            </tr>  
            @foreach (var item in MedidoresModel.Medidores)
            {
                <tr>  
                    <td>  
                        @Html.DisplayFor(modelItem => item.HWID)  
                    </td>  
                    <td>  
                        @Html.DisplayFor(modelItem => item.HWIP)  
                    </td>  
                    <td>  
                        @MedidoresModel.grandezas.ElementAt(item.OperationType-1).Descricao
                    </td>  
                    <td >  
                        @MedidoresModel.opstates.ElementAt(item.State)
                    </td>  
                    <td >  
                        <a asp-page="./Medidores/Details" class="box" asp-route-idx="@MedidoresModel.Medidores.IndexOf(item)" >Detalhes</a>|
                        <a asp-page="./Medidores/Edit" class="box" asp-route-idx="@MedidoresModel.Medidores.IndexOf(item)" >Editar</a>|
                        <a asp-page="./Medidores/Use" class="box" asp-route-idx="@MedidoresModel.Medidores.IndexOf(item)" >Usar</a>
                    </td>  
                </tr>  
            }
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    <form method="post">
                        <input type="submit" class="btn btn-default" asp-page-handler="UpdateMedidores" value="Atualizar"/>
                    </form>
                </td>
            </tr>
        </table>  
    </div>
</div>